@import './variables';

.Card {
  display: grid;
  gap: 0.6rem;
  align-items: center;
  padding: $padding;
  border: 1px solid $teal;
  border-radius: $radius;
  margin-bottom: $padding;
  max-width: 327px;
  min-height: 208px;
  button {
    border-radius: $radius;
    padding: $padding/4;
    background-color: rgba($green, $alpha: 0.6);
    cursor: pointer;
  }
  button:hover {
    background-color: rgba($green, $alpha: 0.8);
  }
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  max-width: 612px;
}
.Form {
  display: grid;
  gap: 0.6rem;
  justify-content: start;
  width: 100%;

  button,
  input,
  select {
    text-align: left;
    color: $dark;
    min-width: 220px;
    border-radius: $radius;
    height: auto;
    cursor: pointer;
    padding: 1rem;
    transition: var(--transition);
    user-select: text;
    font-weight: 100;
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  }
  select {
    min-width: 20px;
  }
  input {
    background-color: rgba($white, $alpha: 0.5);
    color: $dark;
  }
  input:focus {
    background-color: rgba($white, $alpha: 0.8);
  }

  button {
    background-color: rgba($green, $alpha: 0.8);
    text-align: center;
    font-weight: 400;
  }
  button:hover {
    background-color: rgba($green, $alpha: 1);
  }
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  section {
    border: 1px solid $green;
    padding: $padding;
    border-radius: $radius;
    display: grid;
    align-items: start;
    align-content: start;
    justify-content: center;
    gap: 1rem;
  }
  i {
    color: $red;
  }
  @media only screen and (max-height: 920px) {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
